

#messageLog{
    background-color: rgb(41, 41, 41);
    height: 420px;
    width: 900px;
    border-radius: 8px;
    padding: 6px;
    text-align: left;
    color: white;
    font-size: 20px;
    overflow: auto;
}

#chatBox{
    margin: 5px;
    background-color: rgb(50, 50, 50);
    position: absolute;
    right: 20%;
    margin-top: 25px;
    border-radius: 8px;
}
#inChat{
    float:left;
    height: 85%;
    overflow-y: auto;
}

#inputBox{
    position: relative;
}
#chatBar{
    margin-left: 10px;
}

#send{
    position: absolute;
    padding: 12px 40px;
    color:white;
    font-size: 18px;
    margin-left: 50px;
    background-color:rgb(255,66,132);


}

.cards{
    width: 250px;
    margin: 10px;
}
.card{
    background-color: #f05394;
    cursor: pointer;
    border-radius: 8px ;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.offCard{
    background-color: rgb(65, 65, 65);
    cursor: pointer;
    border-radius: 8px ;
    margin-top: 10px;
    font-size: 20px;
    color: black;
}


