<div>
    <a style="color: rgb(78, 78, 78);">Hidden</a>
    <div id = "five">

        <div id = "title">
            <a>The Group Chat</a>
        </div>

        <mat-form-field appearance="fill" class = "width">
            <mat-label>Username</mat-label>
            <input matInput autocomplete="off"  type = "text" size = 16 [(ngModel)] = "username">
        </mat-form-field>

        <mat-form-field appearance="fill" class = "width">
            <mat-label>Password</mat-label>
            <input matInput autocomplete="off" type = "text" size = 16 [(ngModel)] = "password">
        </mat-form-field>

        <div id = "buttonsDiv">
            <button class ="buttons" id = "login" mat-raised-button color = "accent" (click) = "login()">Log In</button>
            <button class ="buttons" mat-raised-button color = "accent" (click) = "create()">Create Account</button>
        </div>

    </div>
</div>

